<launch>

<node pkg="parameter_testing"
    type="our_set_private_param.py"
    name="node1_name_space"
    output="screen">
    <param name="~private_eample" value="private param from launch file"/>
</node>

<node pkg="parameter_testing"
    type="our_set_private_param.py"
    name="node2_name_space"
    output="screen">
    <param name="~private_example" value="private pram from launch file"/>
</node>
</launch>